@page
@model samesitedemo.Pages.LoginModel
@{
}
<div class="text-center">
    <form method="post" asp-page="Login">
        <p>@Model.ErrorMsg</p>
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" asp-for="@Model.Username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" asp-for="@Model.Password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
    


</div>